*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

section{
    padding: 20px;
}

a{
    text-decoration: none;
    font-weight: 500;
    color: black;
    padding: 6px;
    font-size: 12px;
}

li{
    list-style: none;
    display: inline-block;

}

ul{
    padding: 0;
}

p{
    font-size: 11px;
    font-weight: 500;
    text-align: center;
}

h2{
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
}


@media screen and (min-width:500px){

    p{
        text-align: left;
        max-width: 500px;
    }
}




/*NAVIGATION MENU*/

#menu{
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    padding: 20px 0 10px 0;
    z-index: 100;
}

#logo{
    width: 80px;
    display: block;
    margin: 0 auto 10px auto;
}

#menu nav{
    display: flex;
    justify-content: space-around;
}

#menu a:hover{
    border-bottom: #1e1e1e 2px solid;
}


@media screen and (min-width:500px){
    #menu{
        display: flex;
        padding: 20px;
        justify-content: space-between;
    }

}



/*HEADER*/

header{
    padding: 0 20px 10px 20px;
}

h1{
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
}

header div{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header img{
    width: 100%;
}

#contact-us{
    display: none;
}

#header{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.couv{
    max-height: 200px;
    width: 100%;
    overflow: hidden;
}


@media screen and (min-width:500px){
    #contact-us{
        display: block;
        width: 130px;
        margin-left: 0;
    }

    #header{
        display: flex;
        width: 100%;
        gap: 10px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }

    h1{
        text-align: left;
        margin-top: 30px;
    }

    .couv{
        max-height: 100%;
    }

    .home{
        display: grid;
        grid-template-rows: 2fr 1fr 1fr;
    }
}



/*PORTFOLIO*/

.hidden{
    display: none;
}

#portfolio li{
    padding: 6px;
    font-size: 12px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

#portfolio li:hover{
    background-color: #ffe600;
}

.grid-container{
    width: 100%;
    max-width: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

#project1, #project2, #project3, #project4, #project5, #project6{
    position: relative;
}

#project1 img, #project2 img, #project3 img, #project4 img, #project5 img, #project6 img{
    width: 100%;
    height: 100%;
    position: relative;
}

.project-filter{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: #ffe60094;
    text-align: center;
    padding-top: 35%;
    display: none;
}

h3{
    margin: 0;
}

#project1 img:hover + .project-filter, #project2 img:hover + .project-filter, #project3 img:hover + .project-filter, #project4 img:hover + .project-filter, #project5 img:hover + .project-filter, #project6 img:hover + .project-filter{
    display: block;
}


/*NAVIGATION TRAVAUX*/

#tout:checked~#filter li:nth-child(1) {
    background-color: #ffe600;
}

#marque:checked~#filter li:nth-child(2) {
    background-color: #ffe600;
}

#illustration:checked~#filter li:nth-child(3) {
    background-color: #ffe600;
}

#web:checked~#filter li:nth-child(4) {
    background-color: #ffe600;
}

#marque:checked~.grid-container div,
#illustration:checked~.grid-container div,
#web:checked~.grid-container div {
    display: none;
}

#marque:checked~.grid-container [data-filter="marque"] {
    display: block;
}

#illustration:checked~.grid-container [data-filter="illustration"] {
    display: block;
}

#web:checked~.grid-container [data-filter="web"] {
    display: block;
}

.btn{
    font-weight: 500;
    font-size: 10px;
    padding: 8px;
    background-color: #ffe600;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    width: 110px;
    display: block;
    margin: auto;
    text-align: center;
}

.btn:hover{
    background-color: #fde293;
}


@media screen and (min-width:500px){
    
    .grid-container{
        max-width: 1000px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}




/*PARTNERS*/

.flex-partners{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 70px;
    row-gap: 30px;
    padding: 0 20px 0 20px;
}

.flex-partners img{
    max-width: 50px;
}


@media screen and (min-width:500px){
    
    .flex-partners{
        flex-wrap: nowrap;
        column-gap: 20px;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}




/*TEAM*/

#about h2{
    text-align: center;
}

.flex-team{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}

.flex-item1, .flex-item2{
    position: relative;
    padding-top: 20px;
}

.flex-team img{
    width: 100%;
}

.path{
    position: absolute;
    bottom: 3px;
    background-color: #ffe600;
    width: 70%;
    height: 60px;
    padding-top: 10px;
    padding-left: 10px;
}

.nom{
    text-align: left;
    font-weight: 800;
    margin: 5px 0;
}

.job{
    text-align: left;
    color: white;
    margin: 0;
}

.flex-item3{
    text-align: center;
    padding-top: 20px;
}

#about a{
    display: block;
    text-align: center;
}


@media screen and (min-width:500px){
    
    #about h2{
        text-align: left;
    }

    .flex-team{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 20px;
        width: 100%;

    }

    .flex-item3 p{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .flex-item3{
        grid-area: 2 / 1 / span 1 / span 2;
    }

}


@media screen and (min-width:750px){
    
    .flex-team{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: none;
    }

    .flex-item3{
        grid-area: auto;
        align-self: center;
        padding: 30px;
    }

    .path{
        max-width: 190px;
    }

}




/*BLOG*/

#blog h2{
    text-align: center;
}

.flex-blog{
    display: flex;
    flex-direction: column;
    width: 280px;
    margin: 20px auto 0 auto;
    position: relative;
}

.flex-blog img{
    width: 100%;
}

.flex-blog p{
    text-align: left;
    margin-top: 5px;
    margin-bottom: 0;
}

.date{
    font-size: 10px;
}

.txt{
    padding: 15px 20px 15px 20px;
}

.img-container{
    position: relative;
}

.filter{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffe60094;
    text-align: center;
    padding-top: 35%;
    display: none;
}

.img-container img:hover + .filter{
    display: block;
}


@media screen and (min-width:500px){
    
    #blog h2{
        text-align: left;
    }

    .flex-blog{
        flex-direction: row;
        width: auto;
        justify-content: space-between;
        column-gap: 20px;
    }

    .txt{
        padding: 10px 5px 10px 5px;
    }

}




/*CONTACT*/

#contact p{
    text-align: left;
}

form{
    width: 100%;
}

form input{
    height: 30px;
}

form input, textarea{
    width: 100%;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 11px;
    border: none;
}

form input::placeholder{
    color: black;
}

form textarea::placeholder{
    color: black;

}

iframe{
    margin-top: 20px;
    margin-bottom: 20px;
}

form .btn{
    border: none;
    margin-left: 0;
}

#container-contact{
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-rows: 1fr 3fr;
    width: 100%;
    max-width: 650px;
    margin: 20px auto 20px auto;
}

#container-contact p{
    text-align: center;
    font-size: 9px;
}

#container-contact img{
    display: block;
    height: 18px;
    margin-left: auto;
    margin-right: auto;
}

#reseaux{
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#reseaux img{
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#reseaux img:hover{
    box-shadow: 1px 1px 5px #1e1e1e;
}


@media screen and (min-width:500px){
    
    .grid-contact{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-bottom: 50px;
    }

    iframe{
        height: 100%;
    }

    #container-contact{
        grid-template-columns: 1fr 1fr 1fr;
    }

}




/*FOOTER*/

footer{
    background-color: #1e1e1e;
    padding: 16px;
    height: 120px;
}

footer p, footer a{
    font-size: 10px;
    color: white;
}

#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

.copyright{
    display: flex;
    gap: 5px;
    align-items: center;
}

.copyright p{
    text-align: left;
}

#white-logo{
    width: 35px;
    height: 20px;
}

.backtop{
    align-items: center;
    display: flex;
    gap: 5px;
}

.backtop a{
    padding: 0;
}

#arrow{
    width: 12px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.return{
    opacity: 0;
}

.backtop:hover .return{
    opacity: 1;
}

.backtop:hover #arrow{
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
}
